PORT=3000
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/myfeed
SESSION_SECRET=придумайте_длинную_случайную_строку
CLOUDINARY_CLOUD_NAME=ваш_cloud_name
CLOUDINARY_API_KEY=ваш_api_key
CLOUDINARY_API_SECRET=ваш_api_secret

TWITCH_CLIENT_ID=ваш_twitch_client_id
TWITCH_CLIENT_SECRET=ваш_twitch_client_secret
# Необязательно: если не задать, определится автоматически из адреса запроса
TWITCH_REDIRECT_URI=https://ваш-домен.ru/login/twitch/callback
